:root {
    --colorPrimario: #ffbb33;
    --colorPrimarioOscuro: #ff8800;
    --colorAccent: #000000;
}

html,
body {
    margin: 0 auto;
    width: 90%;
    font-family: 'Abel', sans-serif;
    padding: 15px;
    transition: all 0.3s linear;
    min-width: 500px;
}

header {
    margin: 0 auto;
    padding: 15px;
    width: fit-content;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #000000;
}

.logo-cabecera {
    width: fit-content;
    margin: 0 auto;
    transition: 0.2s;
}

.contenedor {
    margin: 10px 0px;
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    /* border: 2px solid #000000; */
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.64);
    border-radius: 5px 15px;
}

.formulario-index {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formulario-index input {
    font-family: 'Raleway', sans-serif;
    border: 2px solid var(--colorPrimario);
    padding: 10px;
    margin: 5px 0px;
    width: 200px;
    border-radius: 8px;
    outline: none;
}

.boton-personalizado {
    padding: 10px 20px;
    /* margin: 0px 5px; */
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    height: 100%;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#registro-usuario {
    display: none; /* Inicialmente no se muestra. */
}

.autenticacion-index {
    transition: all 0.2s linear;
}

.mensaje-error {
    margin: 3px;
    padding: 0px 5px;
    display: none;
    font-weight: bold;
    color: #d8000c;
    border: 1px solid #ea0001;
    background-color: #ffd2d2;
    transition: opacity 0.2s;
    cursor: pointer;
}

/* Estilo de los botones - inicio. */

.boton-personalizado:active,
.boton-personalizado:focus {
    outline: 0;
}

.botonAccion {
    color: var(--colorAccent);
    border: 2px solid var(--colorAccent);
}

.botonAccion:hover {
    color: #ffffff;
    background-color: var(--colorAccent);
}

.botonAccion:focus {
    color: #ffffff;
    background-color: var(--colorAccent);
}

.boton-cambio {
    color: var(--colorPrimarioOscuro);
    border: 2px solid var(--colorPrimarioOscuro);
}

.boton-cambio:hover {
    color: #ffffff;
    background-color: var(--colorPrimarioOscuro);
}

.boton-cambio:focus {
    color: #ffffff;
    background-color: var(--colorPrimarioOscuro);
}
.btnVerde {
    color: #28af31;
    border: 2px solid #28af31;
}

.btnVerde:hover {
    color: #ffffff;
    background-color: #28af31;
}

.btnRojo {
    color: #ea0001;
    border: 2px solid #ea0001;
}

.btnRojo:hover {
    color: #ffffff;
    background-color: #ea0001;
}

.btnAmarillo {
    color: var(--colorPrimario);
    border: 2px solid var(--colorPrimario);
}

.btnAmarillo:hover {
    color: var(--colorAccent);
    background-color: var(--colorPrimario);
    border: 2px solid var(--colorAccent);
}

/* Estilo de los botones - fin. */

/* Bloquea la selección de texto en ciertos elementos. */
.nonselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#contenido {
    margin-top: 50px;
}

#lista-favoritas {
    height: 400px;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

.cerveza-favorita {
    margin: 3px 4px;
    padding: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--colorPrimarioOscuro);
    border-radius: 5%;
    background-color: var(--colorPrimario);
}

.operaciones-cerveza a {
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #aeaeae;
    border-radius: 50%;
    background: #000000;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 8px 10px;
}

.cerveza-favorita img {
    width: 50%;
    margin: 0 auto;
}

.fila {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.fila button {
    margin: 0px 5px;
}
.columna {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.columna button {
    margin: 5px 0px;    
}

.anotacion {
    color: #ea0001;
    text-transform: capitalize;
    text-decoration: underline #ea0001;
}