/* El modal que se muestra en los productos y pedidos para confirmar su borrado. */
/* El fondo del modal (tono oscuro tras el contenedor). */
.modal {
    display: none; /* Escondido por defecto. */
    position: fixed;
    z-index: 1; /* Se mostrará sobre el resto de contenido. */
    padding-top: 100px; /* Afecta a la ubicación de la caja en la ventana del navegador. */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contenido del modal. */
.modal-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Cabecera del modal. */
.modal-header {
    padding: 2px 16px;
    background-color: var(--colorPrimario);
    color: #ffffff;
}

/* Cuerpo del modal. */
.modal-body {
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Botón de cierre del modal (el aspa). */
.cerrar-modal {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* Específicos de cada modal. */
.mapa-cerveza {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
}

.campos-detalle {
    font-size: 90%;
}

/* Referentes a animaciones del modal. */
.visible {
    animation-name: mostrar;
    animation-duration: 0.5s;
}

.invisible {
    animation-name: esconder;
    animation-duration: 0.5s;
}

.mostrado {
    animation-name: deslizarAbajo;
    animation-duration: 0.3s;
}

.escondido {
    animation-name: deslizarArriba;
    animation-duration: 0.3s;
}

/* Animaciones del modal. */
@keyframes mostrar {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes esconder {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes deslizarAbajo {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

@keyframes deslizarArriba {
    from { top: 0px; opacity: 1; }
    to { top: -300px; opacity: 0; }
}